<h1><%= t "mission.file_detail" %></h1>

<p>Title: <%= @mission.title %></p>

<p>Contents: <%= @mission.contents %></p>

<p>Status: <%= @mission.status %></p>

<p>Priority: <%= @mission.priority_order %></p>

<p>initial_time: <%= format_datetime(@mission.initial_time_at) %></p>

<p>finish_time: <%= format_datetime(@mission.finish_time_at) %></p>

<p><%= link_to t("mission.edit.btn"), edit_user_mission_path(params[:id]) %></p>

<p>
  <%= 
    link_to t("mission.destroy.btn"), user_mission_path,
    method: :delete, data: { confirm: "Are you sure?" }
  %>
</p>

<p><%= link_to t("mission.review_all"), user_missions_path %></p>