<h1 class="center"><%= t "mission.file_detail" %></h1><br>


<h4>Title:</h4>
<input class="form-control" type="text" placeholder=<%= @mission.title %> readonly>
<br>
<h4>Contents:</h4>
<input class="form-control" type="text" placeholder=<%= @mission.contents %> readonly>
<br>
<h4>Status:</h4>
<input class="form-control" type="text" placeholder=<%= @mission.status %> readonly>
<br>
<h4>Priority:</h4>
<input class="form-control" type="text" placeholder=<%= @mission.priority_order %> readonly>
<br>
<h4>Inintial_time:</h4>
<input class="form-control" type="text" placeholder=<%= @mission.initial_time_at %> readonly>
<br>
<h4>Finish_time:</h4>
<input class="form-control" type="text" placeholder=<%= @mission.finish_time_at %> readonly>
<br>

<div class="form-group row align-items-center text-monospace">
    <div class="col-auto offset-md-4">
      <%= button_to t("mission.edit.btn"), edit_user_mission_path(params[:id]),
          method: :get,
          class: "btn btn-outline-primary rounded-pill mt-2"
      %>
    </div>

    <div class="col-auto">
      <%= link_to t("mission.destroy.btn"), user_mission_path,
          method: :delete, data: { confirm: "Are you sure?" },
          class: "btn btn-outline-danger rounded-pill mt-2"
      %>
    </div>

    <div class="col-auto">
      <%= button_to t("mission.review_all"), user_missions_path, method: :get,
          class: "btn btn-outline-info rounded-pill mt-2"
      %>
    </div>
</div>
